body {
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.reg-number {
    color: red;
}


main {
    margin-left: 100px;
    margin-right: 100px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.certificate-header {
    text-align: center;
}

.certificate-header p, h1 {
    margin-bottom: -12px;
}

.certificate-header img {
    width: 95px;
    height: 100px;
    float: left;
    position: absolute;
    margin: 15px 0 0 -220px;
}

.psu-header {
    margin-top: 10px;
    display: inline-block;
}

h2 {
    letter-spacing: 10px;
}

.certificate-header strong {
    margin-left: -65em;
}

#reg-no span {
    color: red;
}

.student-gen-info-table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

.student-gen-info-table td {
    padding-left: 15px;
}

.gen-info-header {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 20px;
    width: 100%;
    line-height: 30px;
    background-color: #c2bcff;
}

#age {
    padding-left: 0;
}

#course-code {
    width: 100px;
}

#subject-title {
    width: 300px
}

.unit {
    width: 60px;
    text-align: center;
}

#section {
    width: 130px;
    text-align: center;
}

#sched-room {
    width: 300px;
}

#faculty-header {
    width: 250px;
}

.subject-info-table {
    width: 100%;
    border-top: 2px solid black;
    border-collapse: collapse;
}

.subject-info-table th {
    border-bottom: 2px solid black;
    background-color: #c2bcff;
}

.subject-info-table tr td:not(:nth-child(7)):not(:nth-child(8)) {
    padding-left: 20px;
}

.subject-info-table tr td:nth-child(7),
.subject-info-table tr td:nth-child(8) {
    padding-left: 30px;
}

.subject-info-table tr td:not(:nth-child(7)) {
    vertical-align: top;
}

#total-units {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18.9em;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
}


#total-units p {
    border-top: 3px solid black;
    margin-left: 1.3em;
    width: 3em;
}

#note {
    margin-left: 20px;
    font-size: 13px;
    font-style: italic;
}


.faculty {
    border-bottom: 1px solid black;
}

#assessment-table {
    border: 2px solid black;
    margin-left: 20px;
    border-collapse: collapse;
}

#assessment-table td {
    line-height: 14px;
}

#assessment-table tr:not(:nth-last-child(-n+3)) td:first-child {
    padding-right: 72px;
}

#assessment-table tr td:nth-child(2) {
    text-align: right;
}

.total-assessment td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    text-align: right;
    font-weight: bold;
}

.total-assessment td:nth-child(1) {
    padding-right: 150px;
}

#assessment-header {
    border-bottom: 2px solid black;
    letter-spacing: 10px;
    background-color: #c2bcff;
}

#payment-sched-table {
    text-align: center;
    margin-left: 20px;
    width: 580px;
    border-collapse: collapse;
    border-left: 2px solid black;
    border-right: 2px solid black;
}


#payment-sched-table th {
    letter-spacing: 5px;
    background-color: #c2bcff;
}

#payment-sched-table td {
    border: 1px solid black;
}

#rules-section {
    font-family: "Courier New", sans-serif;
    position: absolute;
    top: 47em;
    left: 45em;
}

#rules-section h3 {
    text-align: center;
    margin-bottom: 30px;
}

#rules-section li {
    font-style: italic;
    font-size: 14px;
}

#rules-section ol {
    margin-bottom: 100px;
}

#rules-section p {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 3em;
    padding-left: 1em;
}

#rules-section span {
    display: inline-block;
    border-bottom: 2px solid black;
    text-align: center;
}

#or-content {
    margin-left: 5em;
    margin-top: 10px;
}

#pv-date-content {
    margin-left: 0%;
    margin-top: -10px;
}


#registrar-sign {
    position: absolute;
    top: 80em;
    left: 42em;
    font-weight: bold;
}

#registrar-sign p:nth-child(1) {
    margin-left: 4em;
}

#registrar-sign p:nth-child(2) {
    margin-left: 14em;
    margin-top: 40px;
}

#registrar-sign p:nth-child(3) {
    margin-left: 14em;
    border-top: 2px solid black;
    text-align: center;
}

footer {
    margin-top: 50em;
    
}

footer p {
    font-size: 14px;
    text-align: right;
    margin-bottom: -20px;
}

footer h5 {
    background-color: #c2bcff;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
